<nav class="teal">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Article</a></li>
            <li><a href="/scrape">Scrape</a></li>
        </ul>
    </div>
</nav>

<div class="row container center-align" id="cardHolder">
    {{#each data}}
    <div class="col s12 m2" id="card-each">
        <div class="card" id="card-border">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="article-image responsive-img" src={{image}}>
            </div>
            <div class="card-content">
                {{!-- <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span> --}}
                <p>{{title}}</p>
                <p>By <a href={{profile}}>{{author}}</a></p>
                <div class="link-note">
                    <a href={{link}} target="_blank"><i class="material-icons">link</i></a>
                    <span class="new badge activator" data-badge-caption="comment">{{note.length}}</span>
                </div>
                <div class="cardBtn center-align">
                <a data-id={{_id}} class="activator btn-floating btn-small waves-effect waves-light teal cardBtn-a"
                        id="add-Note"><i class="material-icons">add</i></a>
                <a data-id={{_id}} href="/updateSave/{{_id}}" class="btn-floating btn-small waves-effect waves-light teal cardBtn-a"
                        id="add-Note"><i class="material-icons">save</i></a>
                {{!-- <a class="waves-effect btn-small waves-light btn"><i class="material-icons right">add</i>COMMENT</a>
                <a class="waves-effect btn-small waves-light btn"><i class="material-icons right">save</i>SAVE</a> --}}
                </div>

                {{!-- list the comments --}}
                <div class="comment-div">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">comment</i>Comments</div>
                        <div class="collapsible-body">
                            <table>
                                <tbody>
                                    {{#each note}}
                                    <tr>
                                        <td style="color:salmon">{{user}}:</td>
                                        <td>{{note}}</td>
                                        <td><a href="/deletecomment/{{_id}}"><i
                                                    class="delete material-icons">delete</i></a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
                </div>
            </div>

            {{!-- add comments --}}
            <div class="card-reveal">
                <input placeholder="User Name" id="user-{{_id}}" type="text" class="validate">
                <input placeholder="Note" id="note-{{_id}}" type="text" class="validate">
                <div>
                    <a data-id={{_id}} class="btn-floating card-title btn-small waves-effect waves-light teal addNote"
                        id="add-Note"><i class="material-icons">add</i></a>
                    <a class="btn-floating btn-small card-title waves-effect waves-light red" id="close-Note"><i
                            class="material-icons">close</i></a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/home-app.js"></script>